@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.App {
  text-align: center;
  background-color: #191919;
  color: white;
  font-family: 'Josefin Sans', cursive;
  width: 100%;
}

.Header-banner {
  background-color: #191919;
  object-fit: cover;
  min-height: 42vh;
  height: auto;
  color: white;
  padding-top: 10%;
  padding-bottom: 1%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

#projects-container {
  width: 70%;
  margin-left: 12%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding: 30px;
  background-color: #172637;
}

#projects-container div {
  background-color: #191919;
  min-height: 150px;
  min-width: 150px;
}

#work {
  background-color: #172637;
  padding: 10px;
  margin: -15px;
}

.navbar {
  display: grid;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  color: black;
  background-color: #ee6352;
  width: 100vw;
  min-height: 60px;
  position: fixed;
  padding: 10px;
  z-index: 100;
}

.navbar button {
  font-size: 1em;
  background-color: #f07869;
  border-color: transparent;
  box-shadow: 3px 3px rgba(233, 57, 36, 0.3);
  min-width: 150px;
}

br {
  color: lightgray;
}

li {
  text-align: left;
}

#listcontainer {
  text-align: center;
  position: relative;
  display: block;
  width: 30%;
  min-width: 350px;
  padding-left: 40%;
}

#education-container {
  text-align: center;
  position: relative;
  display: block;
  width: 40%;
  min-width: 350px;
  padding-left: 30%;
  padding-top: 10px;
  margin-bottom: 20px;
}

.education-block {
  padding: 10px;
  background-color: #191919;
  width: 100%;
  height: auto;
  margin: 5px;
}

#education-container li {
  padding: 10px;
}

#bio {
  text-align: justify;
  position: relative;
  display: block;
  width: 60%;
  padding-left: 20%;
}

#about {
  background-color: #172637;
  margin-top: -20px;
  padding: 30px;
  font-size: 1.2em;
}

#contact {
  background-color: #172637;
  text-align: center;
  color: white;
  height: auto;
  padding: 40px;
  margin-top: -15px;
}

iframe {
  width: 100%;
}

input[type='text'],
textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a:link {
  color: #e93923;
}

a:visited {
  color: #801a0c;
}

a:hover {
  color: white;
}

a:active {
  color: #f07869;
}

.navbar a:link {
  color: black;
}

.navbar a:visited {
  color: black;
}

.navbar a:hover {
  color: #fadbd7;
}

.navbar a:active {
  color: black;
}

#header img {
  border-radius: 45%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#header li {
  display: inline;
  padding: 20px;
  margin: 30px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .Header-banner {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .Header-banner {
    padding-top: 100px;
  }
  #listcontainer {
    text-align: center;
    position: relative;
    display: block;
    width: 30%;
    min-width: 350px;
    padding-left: 20%;
  }
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
